html * {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

:root {
    --blue: #47afd4;
    --lblue: #86c8e0;
    --grey: #444444;
    --lgrey: #969696;

    --space: 30px;

    --max-page-width: 992px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#main_header {
    background: white;
}   

#main_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: var(--space);
}



/* Mobile Menu */

#main_nav {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    background: var(--grey);
    text-align: right;
}

#main_nav .close {
    display: inline-block;
    color: var(--lgrey);
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    user-select: none;
    cursor: pointer;
}

#main_nav ul {
    list-style: none;
    display: block;
    width: 100%;
    color: var(--lgrey);
    padding: 0;
    margin: 0;
}

#main_nav ul li {

    border-bottom: 1px solid var(--lgrey);
    
}

#main_nav ul li a {
    display: block;
    color: var(--lgrey);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}
#main_nav ul li a:hover,
#main_nav ul li a:active {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

#header_image {
    border-bottom: 5px solid var(--blue);
    position: relative;
}

#header_image img {
    display: block;
    width: 100%;
    height: 540px;
    object-fit: cover;
    object-position: right top;
}

#header_image .text {
    position: absolute;
    top: var(--space);
    right: var(--space);
    width: 100%;
    height: 100%;
    text-align: right;
}

h1 {
    font-family: 'Montserrat';
    color: white;
    text-transform: uppercase;
}

#header_image .text .subheader {
    color: var(--blue);
    max-width: 50%;
    margin-left: auto;
    font-size: 1.2rem;
}

.button {
    display: inline-block;
    background-color: var(--blue);
    border: 2px solid var(--lblue);
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em
}

.inner-wrapper {
    padding-left: var(--space);
    padding-right: var(--space);
}

h2 {
    color: var(--blue);
    font-family: 'Montserrat';
    font-size: 1.1em;
}

#teaser_element {
    margin-top: var(--space);
    margin-bottom: var(--space);
}

.teaser-text {
    font-size: 0.8em;
    color: var(--lgrey);
    line-height: 1.5em;
}

.teaser-text a {
    margin-top: 1em;
    display: inline-block;
    color: var(--blue);
}


#grid_gallery_element {
    padding-top: var(--space);
    padding-bottom: var(--space);
    background-color: var(--grey);
}

#grid_gallery_element h2 {
    text-align: center;
}

.gallery-text {
    color: var(--lgrey);
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: center;
}

#grid_gallery_element .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(40vw / 2 - 15px) calc(40vw / 2) 1fr 1fr;
    gap: 15px;
}

#grid_gallery_element .container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#grid_gallery_element .container .bild-2 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#grid_gallery_element .container .bild-1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#grid_gallery_element .container .bild-4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#grid_gallery_element .container .bild-3 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

#anything_else_element {
    text-align: center;
    color: var(--lgrey);
    margin: 50px 0 50px;
}

#anything_else_element p {
    line-height: 1.5em;
}

#main_footer {
    text-align: center;
}

#main_footer .top {
    background-color: var(--blue);
    color: white;
    overflow: hidden;
}

#main_footer address {
    font-style: normal;
    
}

#main_footer p a {
    display: block;
    color: white;
    text-decoration: none;
}

#footer_nav {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer_nav ul li {
    padding: 0;
}

#footer_nav a {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 2em;
}

#main_footer .end {
    font-family: 'Montserrat';
    background-color: var(--grey);
    color: var(--lgrey);
    font-size: 0.6em;
}

#main_footer .top,
#main_footer .end {
    padding-top: 30px;
    padding-bottom: 30px;
}


@media screen and (min-width: 768px) {
    



    #main_nav ul {
        max-width: var(--max-page-width);
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    #main_nav ul li {
        border-bottom: none;
    }

    h1 {
        font-size: 3.25rem;
    }

    h1 br:first-of-type {
        display: none;
    }

    #header_image img {
        height: 450px;
    }

    #header_image .text {
        right: 130px;
    }

    #header_image .text .subheader {
        max-width: 220px;
    }


    #teaser_element {
        display: flex;
        gap: var(--space);
    }

    #teaser_element article img {
        width: 100%;
        height: 230px;
        object-fit: contain;
    }

    #grid_gallery_element h2 {
        margin-bottom: var(--space);
    }
    #grid_gallery_element h2 br {
        display: none;
    }

    #grid_gallery_element .container {
        grid-template-columns: 50% 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #grid_gallery_element .container .bild-2 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    #grid_gallery_element .container .bild-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    
    #grid_gallery_element .container .bild-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    #grid_gallery_element .container .bild-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .gallery-text {
        max-width: 700px;
        margin-top: var(--space);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--space);
    }

    #anything_else_element p {
        max-width: 550px;
        margin: 2em auto 2em;
    }


    #main_footer .top .inner-container {
        display: flex;
        gap: var(--space);
        max-width: var(--max-page-width);
        margin-left: auto;
        margin-right: auto;
    }

    #main_footer .top .inner-container > img {
        object-fit: contain;
        object-position: top;
    }
    #main_footer address {
        flex-basis: 60%;
        text-align: left;    
    }

    #main_footer address p:first-of-type {
        margin-top: 0;
    }

    #main_footer nav {
        flex-basis: 40%;
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
    }

    #main_footer .end {
        text-align: right;
    }

    #main_footer .end .inner-container {
        max-width: var(--max-page-width);
        margin-left: auto;
        margin-right: auto;
    }

}




@media screen and (min-width: 992px) {
    
    #main_header .container {
        max-width: var(--max-page-width);
        margin-left: auto;
        margin-right: auto;
    }

    #main_header .inner-container {
        margin: 0 auto;
        max-width: var(--max-page-width);
    }

    #teaser_element {
        max-width:var(--max-page-width);
        margin-left: auto;
        margin-right: auto;
    }

    #grid_gallery_element .container {
        max-width: var(--max-page-width);
        margin-left: auto;
        margin-right: auto;
    }

}