/* josefin-sans-300 - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/josefin-sans-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('../fonts/josefin-sans-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/josefin-sans-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
        url('../fonts/josefin-sans-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/josefin-sans-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --silver: #666;
    --gold: #c39065;
    --grey: #707070;
}

html * {
  box-sizing: border-box;
}


body {
    font-family: 'Josefin Sans';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#logo {
    max-width: 150px;
}

#burger_menu {
    width: 35px;
    height: auto;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

#burger_menu span {
    width: 100%;
    height: 3px;
    background: var(--silver);
    display: block;
    margin-bottom: 7px;
}
#burger_menu span:last-child {
    margin-bottom: 0;
}

/* #burger_menu span:nth-child(3) {
    margin-bottom: 0;
} */


#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main_menu {
    display: none;
}

.inner-wrapper {
    margin: 0 auto;
    padding: 0 30px 0;
    max-width: 1200px;
    position: relative;
}

#header_image img {
    width: 100%;
    max-width: 100%;
    height: 45vw;
    max-height: 80vh;
    object-fit: cover;
    object-position: center;
    display: block;
}

#siegel {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(0) translateY(-50%);
}

main {
    margin-top: 65px;
}

h1,
h2 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

#home_content {
    color: var(--silver);
    text-align: center;
}

a.button {
    /* nimm die Farbe von der Schrift die mein benachbartes Element hat */
    color: inherit;
    padding: 0.5em 1em;
    border: 2px solid var(--silver);
    display: inline-block;
    margin-bottom: 1em;
    text-decoration: none;
}

main img {
    max-width: 100%;
    height: auto;
}

#main_footer {
    background: var(--gold);
    padding-top: 50px;
}

#main_footer address {
    color: white;
    font-style: normal;
    text-align: center;
    margin-bottom: 5em;
    line-height: 2em;
}

#main_footer address a {
    color: inherit;
    text-decoration: none;
}

#main_footer nav ul {
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#main_footer nav ul li {
    margin-bottom: 1em;
}

#main_footer nav ul li a {
    color: white;
    text-decoration: none;
}

#end {
    padding: 30px;
    background: var(--grey);
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 1.5em;
}


.active {
    color: var(--gold) !important;
}



/* Formulare */

form .row {
    margin-bottom: 1em;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form select,
form textarea {
    padding: 0.5em 0.8em;
    font-family: "Josefin Sans";
    border: 1px solid var(--gold);
    width: 40em;
    max-width: 100%;
    min-height: 2.75em;
    border-radius: 0.5em;
    resize: none;
}

form input[type="submit"] {
    background-color: var(--gold);
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    padding: 1em 3em;
    border: none;
    font-family: "Josefin Sans";
    width: 25em;
    max-width: 100%;
    border-radius: 0.5em;
}


#maps_element {
    margin: 30px 0 30px;
}

#maps_element iframe {
    width: 100%;
    height: 120vw;
}

#contact_data {
    display: none;
}


#galerie_content .container {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: auto 300px 100px 50px;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    overflow: hidden;
}

#galerie_content .grid-item {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,0,255,0.5);
}

.special-item {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}


/* TEAM */

.team .member {
    margin-bottom: 3rem;
}

.team .member blockquote small {
    display: block;
    margin-top: 1em;
    color: var(--grey);
}





/* Tablet */
@media screen and (min-width: 768px) {

    #main_menu {
        display: block;
    }

    #burger_menu {
        display: none;
    }

    #main_menu ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    #main_menu ul li a {
        text-decoration: none;
        color: var(--silver);
    }

    #main_footer > .inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #main_footer address {
        text-align: left;
    }

    #main_footer nav ul {
        text-align: right;
    }

    

    #maps_element iframe {
        height: 80vw;
    }

    #kontakt_content .container {
        display: flex;
        flex-flow: row-reverse;
        gap: 30px;
    }

    #contact_data {
        flex: 1;
        display: block;
        padding-top: 3.5rem;
        line-height: 1.5em;
    }
    
    #contact_data address {
        font-style: normal;
    }

    #kontakt_content form {
        flex: 2;
    }

    /* TEAM */

    .team .member {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .team .member:nth-child(2n) {
        flex-flow: row-reverse nowrap;
    }
    
    .team .member:nth-child(2n) blockquote {
        text-align: right;
    }
    
    .team .member img {
        flex-basis: 40%;
        object-fit: contain;
        object-position: right;
    }

    .team .member:nth-child(2n) img {
        object-position: left;
    }


    .team .member blockquote {
        flex-basis: 60%;
    }

}

@media screen and (min-width: 1200px) {

    
    #maps_element iframe {
        height: 600px;
    }

    
    .special-item {
        grid-column-start: 2;
        grid-column-end: 4;

        grid-row-start: 2;
        grid-row-end: 3;
    }





}